<%= form_with model: @task, local: true, html: { class: "card shadow-sm" } do |f| %>
  <div class="card-body">
    <%= render partial: "shared/form_fields", locals: { f: f, categories: @categories, task: @task } %>
  </div>
<% end %>
